.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 90px - 50px);
    .login-box{
        text-align: center;
        .title{
            font-size: 20px;
            font-weight: bold;
            color: #9b6b00;
        }
        .sub-title{
            font-size: 14px;
            color: #bf8606;
        }
        .button-container{
            padding: 20px;
            margin: 20px;
            border: 01px dashed gold;
            border-radius: 4px;
        }
    }
}